@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
.logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

/*.container {*/
/*    max-width: 960px;*/
/*    width: 100%;*/
/*    height:100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    border: 1px solid yellowgreen; !* 边框宽度为1像素，实线，红色 *!*/
/*}*/

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 40px;
}
.nav_links li:nth-child(1){
    text-decoration: underline;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}